data/*
!data/lock
data/log/*
!data/log
!data/log/.gitkeep
data/record/*
!data/record
!data/record/.gitkeep
data/user/*
!data/user
!data/user/.gitkeep
data/vil/*
!data/vil
!data/vil/.gitkeep

doc/img/*
!doc/img/.gitkeep
!img/.gitkeep
.todo
_config_local.pl
config_remote.pl