@charset "Shift_JIS";
* {
  font-size: 100%;
  line-height: 130%;
}

/* GROBAL --------------------*/

body {
  margin: 0px;
  padding: 0px;
  color: #fff;
  background: #543;
  text-align: center;
}

div,
p,
form {
  margin: 0px;
  padding: 0px;
}

a:link {
  color: #ff4040;
  text-decoration: none;
}

a:visited {
  color: #ff4040;
  text-decoration: none;
}

a[href]:active {
  color: #ff0000;
  text-decoration: none;
}

a[href]:hover {
  color: #ffa0a0;
  text-decoration: none;
}

a.res_anchor:link {
  color: #600000;
  text-decoration: none;
}

a.res_anchor:visited {
  color: #500000;
  text-decoration: none;
}

a.res_anchor:active {
  color: #304020;
  text-decoration: none;
}

a.res_anchor:hover {
  color: #ff4040;
  text-decoration: none;
}

img {
  border-style: none;
}

h1 {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  text-align: center;
}

h2 {
  margin: 0px 0px 10px 0px;
  padding: 2px 8px 2px 8px;
  font-size: 100%;
  font-weight: normal;
  color: #000000;
  background: #bbbbbb;
  border-top: 3px solid #eee;
  border-left: 3px solid #eee;
  border-bottom: 3px solid #aaa;
  border-right: 3px solid #aaa;
}

h3 {
  margin: 0px 0px 10px 0px;
  padding: 2px 8px 2px 8px;
  font-size: 100%;
  font-weight: normal;
  color: #000000;
  background: #bbbbbb;
  border-top: 1px solid #eee;
  border-left: 1px solid #eee;
  border-bottom: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

textarea {
  width: 100%;
  line-height: 115%;
}

textarea.warn {
  border: solid red;
  outline: none;
}

span.warn {
  color: red;
}

input {
  line-height: 115%;
}

th {
  padding: 4px;
  font-weight: normal;
  text-align: left;
}

td {
  padding: 4px;
}

address {
  margin: 0px;
  padding: 4px;
  text-align: right;
  font-size: smaller;
  clear: both;
}

/* BODY FRAME --------------------*/

/* 外枠トップ ----------*/

.outframetop {
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 700px;
}

/* 内枠トップ ----------*/

.contentframetop {
  margin: 0px;
  padding: 0px;
  width: 700px;
  text-align: left;
}

/* 外枠 ----------*/

.outframe {
  margin: 0px auto 0px auto;
  padding: 0px;
  width: 582px;
}

/* フィルタを左に配置した時の外枠 ----------*/

.outframe_navimode {
  margin: 0px auto 0px auto;
  padding: 0px;
  text-align: right;
  width: 730px;
}

.ajax {
  position: absolute;
  width: 550px;
}

.drag {
  position: absolute;
  width: 550px;
}

/* 内枠 ----------*/

.contentframe {
  margin: 0px;
  padding: 0px;
  width: 582px;
  text-align: left;
}

/* フィルタを左に配置した時の内枠 ----------*/

.contentframe_navileft {
  margin: 0px;
  padding: 0px;
  width: 582px;
  text-align: left;
  float: right;
}

/* 内枠の中身（タイトル画像は含まない） ----------*/

.inframe {
  margin: 0px 0px 0px 0px;
  padding: 0px 16px 0px 16px;
}

/* SAY FILTER --------------------*/

/* フィルタ（下配置時）----------*/

.sayfilter {
  margin: 0px auto 0px auto;
  padding: 0px;
  text-align: center;
  font-size: 100%;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
  width: 250px;
}

/* フィルタ（左配置時）----------*/

.sayfilterleft {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: smaller;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
  width: 144px;
  float: left;
}

/* フィルタの中身 ----------*/

.insayfilter {
  margin: 0px;
  padding: 8px;
  text-align: left;
  overflow: auto;
}

/* フィルタの見出し ----------*/

.sayfilter_heading {
  margin: 0px 0px 10px 0px;
  padding: 2px 8px 2px 8px;
  border: none;
  font-weight: bold;
  color: #000000;
  background: #e3caa7;
}

/* フィルタ固定・配置ボタン ----------*/

.sayfilter_button {
  float: right;
  display: none;
}

/* フィルタ小見出し（広げた時）----------*/

.sayfilter_caption_enable {
  margin: 0px;
  padding: 2px 2px 1px 2px;
  font-weight: normal;
  border: 1px solid #000;
}

/* フィルタ小見出し（畳んだ時）----------*/

.sayfilter_caption_disenable {
  margin: 0px;
  padding: 1px 2px 1px 2px;
  font-weight: normal;
  border: 1px solid #000;
  color: #888;
}

/* フィルタ選択欄枠----------*/

.sayfilter_content {
  margin: 0px;
  text-align: left;
  font-weight: normal;
  border: 1px solid #000;
}

/* フィルタ選択欄（有効時）----------*/

.sayfilter_content_enable {
  color: #000;
  border-top: 0px none #000;
  border-right: 1px none #000;
  border-bottom: 1px dotted #000;
  border-left: 1px none #000;
  border-collapse: collapse;
  /* CSS2? */
  width: 100%;
}

/* フィルタ選択欄（無効時）----------*/

.sayfilter_content_disenable {
  color: #888;
  border-top: 0px none #000;
  border-right: 1px none #000;
  border-bottom: 1px dotted #000;
  border-left: 1px none #000;
  border-collapse: collapse;
  /* CSS2? */
  width: 100%;
}

/* フィルタ選択欄内部枠 ----------*/

.sayfilter_incontent {
  padding: 1px 2px 1px 2px;
}

/* フィルタ一括操作用ボタン ----------*/

.sayfilter_button_lump {
  width: 100%;
}

/* BLOCK --------------------*/

/* 段落全般 ----------*/

.paragraph {
  margin: 0px 0px 10px 0px;
}

/* ログイン欄 ----------*/

.login {
  margin: 0px 0px 10px 0px;
  text-align: right;
}

/* 日付リンク ----------*/

.turnnavi {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 16px;
  color: #fff;
  font-weight: bold;
}

/* ページリンク ----------*/

.pagenavi {
  margin: 0px 32px 10px 32px;
  padding: 0px 0px 0px 16px;
  color: #fff;
  font-weight: bold;
}

/* 非ログイン時注意表示 ----------*/

.infonologin {
  margin: 0px 0px 10px 0px;
  padding: 0px 0px 0px 16px;
  color: #fff;
}

/* 全表示リンク ----------*/

.row_all {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  font-weight: bold;
}

/* 表示行数・表示順序変更フォーム ----------*/

.viewform {
  margin: 0px 0px 10px 0px;
  padding: 0px;
  text-align: right;
}

/* IMAGE AND TEXT LAYOUT --------------------*/

/* 発言のキャラ画像 ----------*/

.mes_chrimg {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

/* 発言の文章部分 ----------*/

.mes_text {
  padding: 4px;
  vertical-align: top;
  text-align: left;
}

.mes_text_loud {
  font-weight: bold;
  font-size: 120%;
  color: #900;
}

/* 発言の文章部分（等幅）----------*/

.mes_text_monospace {
  padding: 4px;
  vertical-align: top;
  font-family: monospace;
}

/* 水平線（通常は非表示）----------*/

.invisible_hr {
  display: none;
}

/* SAY --------------------*/

/* システム表示 ----------*/

.info {
  margin: 0px 0px 10px 0px;
  padding: 4px 8px 4px 8px;
  border: 1px dashed #554433;
  color: #000000;
  background: #debea1;
}

/* もっと読む ----------*/

.readmore {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  color: #cca;
  border: 1px solid #cca;
  text-align: center;
}

/* システム表示（不可視） ----------*/

.infosp {
  margin: 0px 0px 10px 0px;
  padding: 4px 8px 4px 8px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

.infosp a:hover {
  text-decoration: none;
  color: #000000;
}

/* 警告・注意表示 ----------*/

.caution {
  margin: 0px 0px 10px 0px;
  padding: 8px;
  color: #000000;
  background: #d0d0d0;
  border: 2px solid #f0f0ff;
}

/* やんわり注意表示 ----------*/

.infotext {
  color: #aaa;
}

/* 警告・注意する部分（インライン） ----------*/

.cautiontext {
  font-weight: bold;
  color: #f44;
}

/* 発言者名 ----------*/

.mesname {
  margin: 0px;
  padding: 4px;
  font-size: 100%;
  font-weight: bold;
  border-style: none;
  color: #000000;
  background: transparent;
}

/* 削除済み発言 ----------*/

.mes_del {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #adc2be;
  border: 1px dashed #554433;
}

/* 未確定発言 ----------*/

.mes_que {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
}

/* 通常発言 ----------*/

.mes_nom {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
}

/* 独り言 ----------*/

.mes_think {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 囁き ----------*/

.mes_wolf {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #f98585;
}

/* 死者のうめき ----------*/

.mes_grave {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #bbbbbb;
  border-top: 3px solid #eee;
  border-left: 3px solid #eee;
  border-bottom: 3px solid #aaa;
  border-right: 3px solid #aaa;
}

/* 村建て人発言 ----------*/

.mes_maker {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 2px dashed #554433;
}

/* 管理人発言 ----------*/

.mes_admin {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #d1d1d1;
  border: 2px dashed #554433;
}

/* 共鳴 ----------*/

.mes_sympa {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #97c9b0;
}

/* 念話 ----------*/

.mes_bat {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #cbbde3;
}

/* 傍観者発言 ----------*/

.mes_guest {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
}

/* 恋人の囁き ----------*/

.mes_lovers {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #ffe0e0;
  border: 1px dashed #554433;
}

/* メモ ----------*/

.memo {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
  width: 100%;
}

/* メモの左側 ----------*/

.memoleft {
  border-style: none dashed solid none;
  border-width: 0px 1px 1px 0px;
  border-color: #000;
  border-collapse: collapse;
  /* CSS2? */
  width: 30%;
}

/* メモの右側 ----------*/

.memoright {
  border-style: none none solid none;
  border-width: 0px 0px 1px 0px;
  border-color: #000;
  border-collapse: collapse;
  /* CSS2? */
  width: 65%;
}

/* 発言の日付 ----------*/

.mes_date {
  font-size: 90%;
  text-align: right;
}

/* 発言のアンカー -------*/

span.mes_number {
  color: #ff4040;
}

span.mes_number:hover {
  color: #ffa0a0;
  cursor: pointer;
  text-decoration: underline;
}

/* 新着取得時刻 ----------*/

.new_date {
  font-size: 90%;
  float: right;
  margin-top: 3px;
  color: #cca;
}

/* アクション ----------*/

.action_nom {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #debea1;
}

.action_nom a:hover {
  text-decoration: none;
  color: #000000;
}

/* しおり ----------*/

.action_bm {
  margin: 0px 0px 10px 0px;
  padding: 4px 8px 4px 8px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
  font-weight: bold;
}

.action_bm a:hover {
  text-decoration: none;
  color: #000000;
}

/* FORM PLAYER --------------------*/

/* 発言入力欄の外枠 ----------*/

.formpl_frame {
  margin: 0px 0px 12px 0px;
}

/* 通常発言／独り言切り替えボタン ----------*/

.radio-btn-container {
  width: 200px;
  margin-left: 0;
}

.radio-btn-group {
  display: flex;
}
.radio-btn-group label {
  flex: 1;
  padding: 5px 5px 0 5px;
  text-align: center;
  cursor: pointer;
  border: 1px solid #ccc;
  margin: 0 auto 0 0;
  background-color: #f0f0f0;
  font-size: 0.9em;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.radio-btn-group input[type="radio"] {
  display: none;
}
.radio-btn-group input[type="radio"]:checked + label {
  font-weight: bold;
}
.radio-btn-group input[type="radio"].say_type_normal:checked + label {
  background-color: #fff;
}
.radio-btn-group input[type="radio"].say_type_monologue:checked + label {
  background-color: #d1d1d1;
  color: #000;
}

textarea.normal {
  background-color: #fff;
  color: #000;
}

textarea.monologue {
  background-color: #d1d1d1;
  color: #fff;
}

/* 発言入力欄（共通） ----------*/

.formpl_common {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
}

/* 発言入力欄のキャラ画像 ----------*/

.formpl_chrimg {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

/* 発言入力欄の項目 ----------*/

.formpl_content {
  padding: 4px;
}

/* アクション入力欄 ----------*/

.formpl_action {
  padding: 4px;
  /*  font-size: 100%; */
}

/* アクション自由入力欄 ----------*/

.formpl_actiontext {
  width: 80%;
}

/* 能力者欄（おまかせ）----------*/

.formpl_undef {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（ランダム）----------*/

.formpl_random {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（村人）----------*/

.formpl_vil {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（人狼）----------*/

.formpl_wolf {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #f98585;
}

/* 能力者欄（占い師）----------*/

.formpl_seer {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（霊能者）----------*/

.formpl_medium {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（狂人）----------*/

.formpl_possess {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（狩人）----------*/

.formpl_guard {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（共有者）----------*/

.formpl_fm {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（ハムスター人間）----------*/

.formpl_hamster {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（Ｃ国狂人）----------*/

.formpl_cpossess {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #f98585;
}

/* 能力者欄（聖痕者）----------*/

.formpl_stigma {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（狂信者）----------*/

.formpl_fanatic {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（共鳴者）----------*/

.formpl_sympathy {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（コウモリ人間）----------*/

.formpl_werebat {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（呪狼）----------*/

.formpl_cwolf {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #f98585;
}

/* 能力者欄（智狼）----------*/

.formpl_intwolf {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #f98585;
}

/* 能力者欄（悪戯妖精）----------*/

.formpl_trickster {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #d1d1d1;
}

/* 能力者欄（恋人陣営）----------*/

.formpl_lovers {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  color: #221;
  background: #eecccc;
  border: 1px dashed #ffc;
}

/* 村開始・更新欄 ----------*/

.formpl_gm {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
}

/* 村開始・更新ボタン ----------*/

.commitbutton {
  text-align: center;
}

/* 発言撤回欄 ----------*/

.saycancelframe {
  text-align: center;
}

/* 発言撤回ボタン ----------*/

.saycancelbutton {
  font-size: smaller;
}

/* 「戻る」リンク ----------*/

.return {
  margin: 0px;
  padding: 0px 0px 8px 0px;
  text-align: right;
}

/* 誤爆防止チェック欄 ----------*/

.previewsafety {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  border: 1px dashed #554433;
  color: #000000;
  background: #e3caa7;
}

/* OTHERS --------------------*/

/* 村一覧 ----------*/

.vindex {
  margin: 0px 0px 10px 0px;
  border: 1px solid #ccc;
  border-collapse: collapse;
  /* CSS2? */
}

/* 村作成画面 ----------*/

.form_vmake {
  margin: 0px 0px 10px 0px;
  padding: 4px;
  color: #000000;
  background: #e3caa7;
  border: 1px dashed #554433;
}

/* 村作成・編集ボタン ----------*/

.exevmake {
  text-align: center;
}

/* 段組（ラベル） ----------*/

.multicolumn_label {
  display: block;
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 16px;
}

/* 段組（左配置） ----------*/

.multicolumn_left {
  display: block;
  float: left;
}

/* 段組（右配置） ----------*/

.multicolumn_right {
  display: block;
  float: left;
  width: 70%;
}

/* 段組（役職入力欄） ----------*/

.multicolumn_role {
  display: block;
  float: left;
  width: 20%;
  padding-right: 16px;
}

/* 段組（改行） ----------*/

.multicolumn_clear {
  clear: left;
}

/* 回り込み禁止 ----------*/

.clearboth {
  clear: both;
}

/* ドラッグ用ハンドラ ----------*/

.handler {
  background: #355;
  height: 15px;
}

/* ポップアップクロージャ ----------*/

.close {
  color: #e50;
  font-weight: bold;
  font-size: 120%;
  float: right;
  cursor: pointer;
}

/* 新着取得 ----------*/

.newinfo {
  margin: 0.5em 0;
  padding: 0.5em 1em;
  color: #cca;
  border: 1px solid #cca;
  text-align: center;
}

/* 新着取得時刻 ----------*/

.new_date {
  font-size: 90%;
  text-align: right;
}

/* アンカーコピー時ポップアップ -----------*/

.popup {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: translateY(100%);
  padding: 1em;
  margin: 0px;
  background-color: #d1d1d1;
  color: #000;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}

.popup.js_active {
  transform: translateY(0%);
  opacity: 1;
}
