@charset "Shift_JIS";

* {
  font-size: 100%;
  line-height: 130%;
}

/* GROBAL --------------------*/

body {
  margin: 0px;
  padding: 0px;
  color: #fff;
  background: #567;
  text-align: center;
}

div, p, form {
  margin: 0px;
  padding: 0px;
}

a:link {
  color: #0ff;
}

a:visited {
  color: #08f;
}

a[href]:active {
  color: #f00;
}

a[href]:hover { /* CSS2? */
  color: #fff;
}

div.formpl_content > a:link {
  color: #00f;
}

div.formpl_content > a:visited {
  color: #008;
}

img {
  border-style: none;
}

h1 {
  margin: 0px 0px 8px 0px;
  padding: 0px;
  text-align: center;
}

h2 {
  margin: 0px 0px 16px 0px;
  padding: 2px 8px 2px 8px;
  border: solid #448;
  border-width: 0 0 1px 8px;
  font-size: 100%;
  font-weight: normal;
}

h3 {
  margin: 0px 0px 16px 0px;
  padding: 2px 8px 2px 8px;
  border: solid #668;
  border-width: 0 0 1px 8px;
  font-size: 100%;
  font-weight: normal;
}

textarea {
  width: 100%;
  line-height: 115%;
}

textarea.warn {
  border: solid red;
  outline: none;
}

span.warn {
  color: red;
}

input {
  line-height: 115%;
}

th {
  padding: 4px;
  font-weight: normal;
  text-align: left;
}

td {
  padding: 4px;
}

address {
  margin: 0px;
  padding: 4px;
  text-align: right;
  font-size: smaller;
  clear: both;
}

/* BODY FRAME --------------------*/

/* 外枠トップ ----------*/
.outframetop {
  margin: 0px auto 0px auto;
  padding: 0px;
  color: #fff;
  background: #000;
  width: 700px;
}

/* 内枠トップ ----------*/
.contentframetop {
  margin: 0px;
  padding: 0px;
  width: 700px;
  text-align: left;
}

/* 外枠 ----------*/
.outframe {
  margin: 0px auto 0px auto;
  padding: 0px;
  color: #fff;
  background: #000;

  width: 500px;
}

/* フィルタを左に配置した時の外枠 ----------*/
.outframe_navimode {
  margin: 0px auto 0px auto;
  padding: 0px;
  color: #fff;
  background: #000;

  text-align: right;
  width: 632px;
} .ajax {
    position: absolute;
    width: 468px;
} .drag {
    position: absolute;
    width: 468px;
}

/* 内枠 ----------*/
.contentframe {
  margin: 0px;
  padding: 0px;
  width: 500px;
  text-align: left;
}

/* フィルタを左に配置した時の内枠 ----------*/
.contentframe_navileft {
  margin: 0px;
  padding: 0px;
  width: 500px;
  text-align: left;

  float: right;
}

/* 内枠の中身（タイトル画像は含まない） ----------*/
.inframe {
  margin: 0px 0px 0px 0px;
  padding: 0px 16px 0px 16px;
}

/* SAY FILTER --------------------*/

/* フィルタ（下配置時）----------*/
.sayfilter {
  margin: 0px auto 0px auto;
  padding: 0px;
  text-align: center;
  font-size: 100%;
  border: 2px dashed #000;
  color: #000;
/*  background: #cca; */
  background: #556;
  width: 250px;
}

/* フィルタ（左配置時）----------*/
.sayfilterleft {
  margin: 0px;
  padding: 0px;
  text-align: left;
  font-size: smaller;
  border: none;
  color: #fff;
  background: #000;
  width: 128px;

  float: left;
}

/* フィルタの中身 ----------*/
.insayfilter {
  margin: 0px;
  padding: 8px;
  text-align: left;
  overflow: auto;
}

/* フィルタの見出し ----------*/
.sayfilter_heading {
  margin: 0px 0px 16px 0px;
  padding: 2px 8px 2px 8px;
  font-weight: normal;
  border: solid #fff;
  border-width: 1px 0px 1px 0px;
  color: #fff;
  background: #458;
}

/* フィルタ固定・配置ボタン ----------*/
.sayfilter_button {
  float: right;
  display: none;
}

/* フィルタ小見出し（広げた時）----------*/
.sayfilter_caption_enable {
  margin: 0px;
  padding: 1px 2px 1px 2px;
  font-weight: normal;
  border: solid #fff;
  border-width: 1px 0px 1px 0px;
  color: #fff;
  background: #458;
}

/* フィルタ小見出し（畳んだ時）----------*/
.sayfilter_caption_disenable {
  margin: 0px;
  padding: 1px 2px 1px 2px;
  font-weight: normal;
  border: solid #fff;
  border-width: 1px 0px 1px 0px;
  color: #fff;
  background: #444;
}

/* フィルタ選択欄枠----------*/
.sayfilter_content {
  margin: 0px;
  text-align: left;
  border: none;
  font-weight: normal;
}

/* フィルタ選択欄（有効時）----------*/
.sayfilter_content_enable {
  color: #fff;
  background: #008;
  width: 100%;
}

/* フィルタ選択欄（無効時）----------*/
.sayfilter_content_disenable {
  color: #fff;
  background: #444;
  width: 100%;
}

/* フィルタ選択欄内部枠 ----------*/
.sayfilter_incontent {
  padding: 1px 2px 1px 2px;
}

/* フィルタ一括操作用ボタン ----------*/
.sayfilter_button_lump {
  border: ridge #444;
  color: #fff;
  background: #444;
  width: 100%;
}

/* BLOCK --------------------*/

/* 段落全般 ----------*/
.paragraph {
  margin: 0px 0px 16px 0px;
}

/* ログイン欄 ----------*/
.login {
  margin: 0px 0px 8px 0px;
  text-align: right;
}

/* 日付リンク ----------*/
.turnnavi {
  margin: 0px 0px 16px 0px;
  padding: 0px 0px 0px 16px;
  color: #999;
}

/* ページリンク ----------*/
.pagenavi {
  margin: 0px 32px 16px 32px;
  padding: 0px 0px 0px 16px;

  color: #999;
}

/* 非ログイン時注意表示 ----------*/
.infonologin {
  margin: 0px 0px 16px 0px;
  padding: 0px 0px 0px 16px;
  color: #fff;
}

/* 全表示リンク ----------*/
.row_all {
  margin: 0px 0px 16px 0px;
  padding: 0px;
}

/* 表示行数・表示順序変更フォーム ----------*/
.viewform {
  margin: 0px 0px 16px 0px;
  padding: 0px;
  text-align: right;
}

/* IMAGE AND TEXT LAYOUT --------------------*/

/* 発言のキャラ画像 ----------*/
.mes_chrimg {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

/* 発言の文章部分 ----------*/
.mes_text {
  padding: 4px;
  vertical-align: top;
}.mes_text_loud {
    font-weight: bold;
    font-size: 120%;
}

/* 発言の文章部分（等幅）----------*/
.mes_text_monospace {
  padding: 4px;
  vertical-align: top;
  font-family: monospace;
}

/* 水平線（通常は非表示）----------*/
.invisible_hr {
  display: none;
}

/* SAY --------------------*/

/* システム表示 ----------*/
.info {
  margin: 0px 0px 16px 0px;
  padding: 8px;
  border: 1px solid #fff;
  color: #fff;
}

/* もっと読む ----------*/
.readmore {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    color: #cca;
    border: 1px solid #cca;
	text-align: center;
	display: none;
}

/* 新着取得 ----------*/
.newinfo {
    margin: 0.5em 0;
    padding: 0.5em 1em;
    color: #cca;
    border: 1px solid #cca;
	text-align: center;
}

/* 新着取得時刻 ----------*/
.new_date {
  font-size: 90%;
  text-align: right;
}

/* システム表示（不可視） ----------*/
.infosp {
  margin: 0px 0px 16px 0px;
  padding: 8px;
  border: 1px solid #aaa;
  color: #aaa;
} .infosp a:hover {
  text-decoration: none;
  color: #aaa;
}

/* 警告・注意表示 ----------*/
.caution {
  margin: 0px 0px 16px 0px;
  padding: 8px;
  border: 1px solid #f44;
  color: #f44;
}

/* やんわり注意表示 ----------*/
.infotext {
  color: #aaa;
}

/* 警告・注意する部分（インライン） ----------*/
.cautiontext {
  font-weight: bold;
  color: #f44;
}

/* 発言者名 ----------*/
.mesname {
  margin: 0px;
  padding: 4px;
  font-size: 100%;
  font-weight: bold;
  border-style: none;
}

/* 削除済み発言 ----------*/
.mes_del {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: #000;
}

/* 未確定発言 ----------*/
.mes_que {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #442;
  color: #fff;
  background: #553;
}

/* 通常発言 ----------*/
.mes_nom {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
/*  background: #442; */
  background: #553;
}

/* 独り言 ----------*/
.mes_think {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: #444;
}

/* 囁き ----------*/
.mes_wolf {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: #622;
}

/* 死者のうめき ----------*/
.mes_grave {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: #224;
}

/* 村建て人発言 ----------*/
.mes_maker {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 2px dashed #000;
  color: #fff;
  background: #464;
}

/* 管理人発言 ----------*/
.mes_admin {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 2px dashed #000;
  color: #fff;
  background: #556;
}

/* 共鳴 ----------*/
.mes_sympa {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: #350;
}

/* 念話 ----------*/
.mes_bat {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
  background: #055;
}

/* 傍観者発言 ----------*/
.mes_guest {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
/*  background: #442; */
  background: #553;
}

/* メモ ----------*/
.memo {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  color: #fff;
  background: #553;
  border: 2px dashed #000;
  width: 100%;
}

/* メモの左側 ----------*/
.memoleft {
  border-style: none dashed solid none;
  border-width: 0px 1px 1px 0px;
  border-color: #000;
  border-collapse: collapse; /* CSS2? */
  width: 30%;
}

/* メモの右側 ----------*/
.memoright {
  border-style: none none solid none;
  border-width: 0px 0px 1px 0px;
  border-color: #000;
  border-collapse: collapse; /* CSS2? */
  width: 65%;
}

/* 発言の日付 ----------*/
.mes_date {
  font-size: 90%;
  text-align: right;
}

/* 発言のアンカー -------*/
span.mes_number {
  color: #0ff;
}
span.mes_number:hover {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

/* アクション ----------*/
.action_nom {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #fff;
/*  background: #442; */
  background: #553;
}

/* しおり ----------*/
.action_bm {
  margin: 0px 0px 16px 0px;
  padding: 8px;
  border: 1px solid #fff;

  font-weight: bold;
  color: #fff;
}

.action_type {

}

/* FORM PLAYER --------------------*/

/* 発言入力欄の外枠 ----------*/
.formpl_frame {
  margin: 0px 0px 12px 0px;
}

/* 発言入力欄（共通） ----------*/
.formpl_common {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #ff0;
  color: #000;
/*  background: #cca; */
  background: #bb9;
}

/* 発言入力欄のキャラ画像 ----------*/
.formpl_chrimg {
  padding: 4px;
  text-align: center;
  vertical-align: middle;
}

/* 発言入力欄の項目 ----------*/
.formpl_content {
  padding: 4px;
}

/* アクション入力欄 ----------*/
.formpl_action {
  padding: 4px;
/*  font-size: 100%; */
}

/* アクション自由入力欄 ----------*/
.formpl_actiontext {
  width: 80%;
}

/* 能力者欄（おまかせ）----------*/
.formpl_undef {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #ff0;
  color: #fff;
  background: #000;
}

/* 能力者欄（ランダム）----------*/
.formpl_random {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #0ff;
  color: #fff;
  background: #000;
}

/* 能力者欄（村人）----------*/
.formpl_vil {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #ff0;
  color: #000;
/*  background: #cca; */
  background: #bb9;
}

/* 能力者欄（人狼）----------*/
.formpl_wolf {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #f00;
  color: #000;
  background: #caa;
}

/* 能力者欄（占い師）----------*/
.formpl_seer {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #fe0;
  color: #000;
  background: #db6;
}

/* 能力者欄（霊能者）----------*/
.formpl_medium {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #0ef;
  color: #000;
  background: #8bd;
}

/* 能力者欄（狂人）----------*/
.formpl_possess {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #000;
  background: #ccc;
}

/* 能力者欄（狩人）----------*/
.formpl_guard {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #dfd;
  color: #000;
  background: #aca;
}

/* 能力者欄（共有者）----------*/
.formpl_fm {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #ff0;
  color: #000;
  background: #dd8;
}

/* 能力者欄（ハムスター人間）----------*/
.formpl_hamster {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #fcf;
  color: #fff;
  background: #622;
}

/* 能力者欄（Ｃ国狂人）----------*/
.formpl_cpossess {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #f00;
  color: #000;
  background: #ccc;
}

/* 能力者欄（聖痕者）----------*/
.formpl_stigma {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #f88;
  color: #000;
  background: #dd8;
}

/* 能力者欄（狂信者）----------*/
.formpl_fanatic {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #00f;
  color: #000;
  background: #ccc;
}

/* 能力者欄（共鳴者）----------*/
.formpl_sympathy {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #f00;
  color: #000;
  background: #cc8;
}

/* 能力者欄（コウモリ人間）----------*/
.formpl_werebat {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #fcc;
  color: #fff;
  background: #622;
}

/* 能力者欄（呪狼）----------*/
.formpl_cwolf {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #fff;
  color: #000;
  background: #caa;
}

/* 能力者欄（智狼）----------*/
.formpl_intwolf {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #f00;
  color: #fff;
  background: #400;
}

/* 能力者欄（ピクシー）----------*/
.formpl_trickster {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #ffc;
  color: #fff;
  background: #622;
}

/* 村開始・更新欄 ----------*/
.formpl_gm {
  margin: 0px 0px 4px 0px;
  padding: 4px;
  border: 1px solid #ff0;
  color: #000;
/*  background: #cca; */
  background: #bb9;
}

/* 村開始・更新ボタン ----------*/
.commitbutton {
  text-align: center;
}

/* 発言撤回欄 ----------*/
.saycancelframe {
  text-align: center;
}

/* 発言撤回ボタン ----------*/
.saycancelbutton {
  font-size: smaller;
}

/* 「戻る」リンク ----------*/
.return {
  margin: 0px;
  padding: 0px 0px 8px 0px;
  text-align: right;
}

/* 誤爆防止チェック欄 ----------*/
.previewsafety {
  margin: 0px 0px 8px 0px;
}

/* OTHERS --------------------*/

/* 村一覧 ----------*/
.vindex {
  margin: 0px 0px 16px 0px;
  border: 1px solid #ccc;
  border-collapse: collapse; /* CSS2? */
/*  width: 100%; */
}

/* 村作成画面 ----------*/
.form_vmake {
  margin: 0px 0px 16px 0px;
  padding: 4px;
  border: 1px solid #ff0;
  color: #000;
/*  background: #cca; */
  background: #bb9;
}

/* 村作成・編集ボタン ----------*/
.exevmake {
  text-align: center;
}

/* 段組（ラベル） ----------*/
.multicolumn_label {
  display: block;
  float: left;
  width: 20%;
  text-align: right;
  padding-right: 16px;
}

/* 段組（左配置） ----------*/
.multicolumn_left {
  display: block;
  float: left;
}

/* 段組（右配置） ----------*/
.multicolumn_right {
  display: block;
  float: left;
  width: 70%;
}

/* 段組（役職入力欄） ----------*/
.multicolumn_role {
  display: block;
  float: left;
  width: 20%;
  padding-right: 16px;
}

/* 段組（改行） ----------*/
.multicolumn_clear {
  clear: left;
}

/* 回り込み禁止 ----------*/
.clearboth {
  clear: both;
}

/* ドラッグ用ハンドラ ----------*/ .handler {
	background: #355;
	height: 15px;
}

/* ポップアップクロージャ ----------*/ .close {
	color: #e50;
	font-weight: bold;
	font-size: 120%;
	cursor: pointer;
	float: right;
}

/* アンカーコピー時ポップアップ -----------*/ .popup {
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  transform: translateY(100%);
  padding: 1em;
  margin: 0px;
  background-color: #000;
  color: #fff;
  text-align: center;
  opacity: 0;
  transition: 0.5s;
}
.popup.js_active {
  transform: translateY(0%);
  opacity: 1;
}